// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color--light-gray: #f3f3f3;
$color--gray: gray;
$color--blue: #1976d2;
$color--light-green: #c2e7ba;
$color--light-red: #f3cccc;
$color--light-yellow: #e8e0af;


// Ширина эрана при которой надо рисовать как телефон или планшет
$break-point: 1000px;
